form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  height: 464px;
  margin: 91px auto 45px auto;
}

.data label,
.cvc label {
  color: #21092f;
  font-size: 12px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.input {
  display: flex;
  height: 45px;
  width: 100%;
}
.input input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #dfdee0;
  background: #fff;
  outline: none;
  cursor: pointer;
  padding-left: 16px;
}
.month {
  margin-right: 8px;
  width: 30%;
}
.month label,
.year label {
  color: #21092f;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.year {
  margin-right: 11px;
  width: 30%;
}
.cvc {
  width: 60%;
  height: 69px;
}
.cvc input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #dfdee0;
  background: #fff;
  outline: none;
  cursor: pointer;
  text-align: left;
  padding-left: 16px;
}
.cvc div {
  display: inline-flex;
  gap: 50px;
}
form p {
  color: #ff5050;
  font-size: 12px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 8px 0 0 0;
  text-align: end;
}
.lables {
  display: flex;
  gap: 15%;
  color: #21092f;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.data-cvc {
  height: 80.2px;
  width: 100%;
}
.curd-number,
.cardholder {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}
.cardholder label,
.curd-number label {
  color: #21092f;
  font-size: 12px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.curd-number input,
.cardholder input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  color: #21092f;
  font-size: 18px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #dfdee0;
  background: #fff;
  outline: none;
  cursor: pointer;
  caret-color: #21092f;
  padding-left: 16px;
}

.cardholder input::placeholder,
.curd-number input::placeholder,
.cvc input::placeholder,
.input input::placeholder {
  color: #21092f;
  opacity: 0.25;
  font-size: 18px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  caret-color: #21092f;
}
.cardholder input:focus,
.curd-number input:focus,
.cvc input:focus,
.input input:focus {
  border: 1px solid #610595;
}
.curd-number div {
  display: inline-flex;
  gap: 70px;
}
.curd-number div p {
  color: #ff5050;
  font-size: 12px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.mask {
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  form {
    width: 381px;
    margin: 200px 50px 45px 140px;
  }
}

@media (min-width: 1250px) {
  form {
    margin: 200px 130px 45px 60px;
  }
}
