form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 327px;
  height: 464px;
  margin: 91px 24px 45px 24px;
}

.data label,
.cvc label {
  color: var(--deep-violet, #21092f);
  font-size: 12px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.input {
  display: flex;
  height: 45px;
}
.input input {
  width: 72px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid var(--light-grey, #dfdee0);
  background: var(--white, #fff);
  outline: none;
  cursor: pointer;
  padding-left: 16px;
}
.month {
  margin-right: 8px;
}
.month label,
.year label {
  color: var(--deep-violet, #21092f);
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.year {
  margin-right: 11px;
}
.cvc {
  width: 164px;
  height: 69px;
}
.cvc input {
  width: 164px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid var(--light-grey, #dfdee0);
  background: var(--white, #fff);
  outline: none;
  cursor: pointer;
  text-align: left;
  padding-left: 16px;
}
.cvc div {
  display: inline-flex;
  gap: 50px;
}
form p {
  color: var(--red, #ff5050);
  font-size: 12px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 8px 0 0 0;
  text-align: end;
}
.lables {
  display: flex;
  gap: 23px;
  color: var(--deep-violet, #21092f);
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.data-cvc {
  height: 80.2px;
}
.curd-number,
.cardholder {
  display: flex;
  width: 327px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}
.cardholder label,
.curd-number label {
  color: var(--deep-violet, #21092f);
  font-size: 12px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.curd-number input,
.cardholder input {
  width: 327px;
  height: 45px;
  border-radius: 8px;
  color: #21092f;
  font-size: 18px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid var(--light-grey, #dfdee0);
  background: var(--white, #fff);
  outline: none;
  cursor: pointer;
  caret-color: #21092f;
  padding-left: 16px;
}

.cardholder input::placeholder,
.curd-number input::placeholder,
.cvc input::placeholder,
.input input::placeholder {
  color: var(--deep-violet, #21092f);
  opacity: 0.25;
  font-size: 18px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  caret-color: var(--deep-violet, #21092f);
}
.cardholder input:focus,
.curd-number input:focus,
.cvc input:focus,
.input input:focus {
  border: 1px solid #610595;
}
.curd-number div {
  display: inline-flex;
  gap: 70px;
}
.curd-number div p {
  color: var(--red, #ff5050);
  font-size: 12px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
