.button {
  width: 327px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--deep-violet, #3f1258);
  color: var(--white, #fff);
  font-size: 18px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 8px;
  border: none;
}
.button:disabled {
  background: var(--deep-violet, #21092f);
  cursor: not-allowed;
}
