.button {
  width: 327px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--deep-violet, #21092f);
  color: var(--white, #fff);
  font-size: 18px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 8px;
  border: none;
}
.button:hover,
.button:active {
  background: var(--deep-violet, #2e0b42);
}

.button:disabled,
.button:focus:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: var(--deep-violet, #21092fd5);
  cursor: not-allowed;
}
